.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

h1,
h2 {
  font-weight: 700;
}


.title {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 7.5px solid black;
  background-color: rgb(21, 42, 49);
}

.custom-card {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* left: 500px; */
}

div#memesdisplay {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memesdisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
}

.custom-card2 {
  background-color: gray;
  border-color: teal;
  color: black;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  left: 1360px;
  bottom: 50px;
}

.card-header,
.card-footer {
  background: teal;
}

.custom-card-header {
  background-color: var(--teal);
  color: var(--lightteal);
}

.day-of-the-week {
  min-height: 360px;
}

.solution_card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgb(102, 193, 184) 0%, rgb(237, 249, 248) 63%);
  padding: 24px;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.7s;
}

.wheather-city {
  color: #e18397;
}

.icoon {
  min-width: 50px;
  min-height: 50px;
}